version: '2'

services:
  db:
    image: mariadb:10.1
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "test"
      MYSQL_USER: "test"
      MYSQL_PASSWORD: "123456"
    volumes:
      - db:/var/lib/mysql
  
  php:
    build:
      context: ./services/php
      dockerfile: Dockerfile  
    ports:
      - "6379"
    volumes:
      - /WorkSpace/test:/mnt/test


  web:
    image: nginx:1.11.1
    ports:
      - "80:80"
    depends_on:
      - php
    volumes_from:
      - php
    volumes:
      - ./services/web/config:/etc/nginx/conf.d/

    hostname: test.dev


volumes:
  db:
    driver: local